body {
    font-family: Arial, Helvetica, sans-serif;
}

.content {
    max-width: 1400px;
    margin: auto;
}
header {
    background-color: rgb(0, 162, 255);
    width: 100%;
    display: inline-block;
    min-height: 100px;
}
.btns {
    float: left;
    margin: 0 0 0 5%;
    padding: 20px 0;
    text-align: center;
    /* background-color: red; */
    max-width: 60%;
}
.btns>button {
    float: left;
    display: block;
}
#query {
    height: 28px;
}
form {
    float: right;
    min-width: 300px;
    /* position: relative;
    top: 0;
    right: 0; */
    margin-top: 10px;
    margin-right: 8%;
}
.gifBox {
    box-sizing: border-box;
    float: left;
    margin: 2px;
    max-width: 310px;
    min-width: 320px;
    min-height: 325px;
    padding: 0 5px;
    background-color: #ccccda;
    border: 5px #6f6f6f solid;
}
.gifBox>img {
    max-width: 300px;
    display: block;
    margin: auto;
}

.gifBox>p:nth-child(2) {
    border-bottom: 2px #9e9696 solid;
    margin-bottom: 5px;
}

.gifBox>p {
    padding: 5px 0;
}

button {
    padding: 8px;
    min-width: 100px;
    background-color: rgb(45, 143, 189);
    color: rgb(220, 221, 220);
    font-family: inherit;
    font-weight: bolder;
}
.results {
    clear:both;
    /* max-width: 1000px; */
}
@media screen and (max-width: 1200px) {
    form {
        margin-right: 0;
    }
}
@media screen and (max-width: 1000px) {
    header {
        display: grid;
    }
    .btns {
        min-width: 100%;
    }

    form {
        margin: auto;
    }
}
